body {
    background-image: url("https://wallpapercrafter.com/th800/106306-PlayStation-2-collage-video-games-PlayStation.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background-color: #464646;
  }
  
  #results {
    width: 1000px;
    background-color: rgb(233, 124, 0);
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;

  }