/* body {
    background-image: url("https://wallpapercrafter.com/th800/106306-PlayStation-2-collage-video-games-PlayStation.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background-color: #464646;
  } */

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  #results {
    width: 500px;
    background-color: rgb(233, 124, 0);
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }